<section class="row">
  <div class="small-12 text-center columns">
    <h2 class="page-heading">Add a Service</h2>
    <p>Before you fill this out, please check someone else hasn't uploaded the same one! Just search, above.</p>
  </div>
</section>
<%= render 'form' %>
