
<ul id="services-index-container" class="row">
  <div class="small-block-grid-1 small-centered medium-block-grid-3 columns">
    <%= render @services %>
  </div>
</ul>

<div class="row">
  <p class="small-12 text-center columns">Do you think this site is missing an important service? You can <%= link_to 'add a service here', new_service_path %>. 
  </p>
</div>