
<section class="row">
  <p id="notice" class="small-12 text-center columns"><%= notice %></p>
</section>

<% if params[:tags].present? %>
  <h2 class="page-heading">Showing "<%= params[:tags] %>" services</h2>
  <p class="text-center">
    <%= link_to "All Services", services_path %>
  </p>
<% end %>


<%= render 'indexitems' %>