@import "variables";
@import "mixins";
@import "foundation_and_overrides";
@import "foundation-icons/foundation-icons";
@import "services";
@import "users";
@import "service_types";

.width-100 {
  width: 100%;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.font-size-2em {
  font-size: 2em;
}
.font-size-1-5em {
  font-size: 1.5em;
}
.margin-right-10 {
  margin-right: 10px;
}

.large-icon {
  font-size: 3em;
}

.page-heading {
  margin: 1em auto;
  padding: 0;
  text-align: center;
}

.alert-box.alert {
  border: 3px solid $alert-color;
  border-radius: 5px;
  $alert-box-background-opacity: 0.2;
  background-color: rgba($alert-color, $alert-box-background-opacity);
}

.alert-box i {
  radius: 50%;
  padding: .2em .4em;
  margin-right: 0.8rem;
}

.full-width-banner {
  min-width: 100%;
  height: 400px;
  padding: 0;
  background-position: center;
  background-size: cover;
}