@mixin box-background-with-image($background-img-url) {
  background-image: url($background-img-url);
  position: relative;
}

@mixin box-in-center($box-color, $box-opacity, $box-padding-tb, $box-padding-lr) {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba($box-color, $box-opacity);
  padding: $box-padding-tb $box-padding-lr;
}

@mixin service-box-base {
  // border-radius: 0.5em;
  padding: 0.5em 1em;
  border-radius: 50px;
  border-width: 5px;
  border-style: solid;
}

@mixin service-box-style($service-box-color) { 
  border-color: $service-box-color;
  background-color: rgba($service-box-color, 0.3);
}

@mixin tag-button-base {
  @include button;
  margin: 0;
  padding: 1em;
  font-size: 1em;
  border-radius: 50px;
  background-color: $portal-primary;
}

@mixin action-button-base {
  @include button;
  // margin: 0;
  // padding: 1em;
  // font-size: 1em;
  // border-radius: 50px;
  background-color: $portal-primary;
}

@mixin service-type-icon {
  display: inline;
  background-color: $portal-primary;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  margin-right: 1em;
}