#homepage-banner-img {
  @include box-background-with-image("uclatnight.jpg");

  #homepage-title {
    $box-opacity-homepage-title: 0.6;
    $box-padding-tb: 20px;
    $box-padding-lr: 30px;

    @include box-in-center($black, $box-opacity-homepage-title, $box-padding-tb, $box-padding-lr);
    
    h2 {
      color: $white;
    }
  }
}

ul#services-index-container {

  .service-box {
    @include service-box-base;
    .service-heading {
      font-size: 1.5em;
      .service-type-icon {
        display: inline;
        background-color: $portal-primary;
        border-radius: 50%;
        padding: 0.2em 0.5em;
        margin-right: 1em;
      }
    }
    
    a {
      color: $portal-primary;
      text-decoration: none;
      line-height: inherit; 
    }

    a:hover, a:focus {
      color: lighten($portal-primary, 30%); 
    }

    a:visited {
        text-decoration: underline; 
    }

    a img {
        border: none; 
    }
    // .service-name,
    .service-type-name,
    .service-description {
      margin: 0.5em;
    }

    .tag {
      @include tag-button-base;
    }
  }

  .service-box.university-box{
    @include service-box-style($university-base-color);

    i {
      color: $university-base-color;
    }
  }
  .service-box.union-box{
    @include service-box-style($union-base-color);

    i {
      color: $union-base-color;
    }
  }
  .service-box.studentgroup-box{
    @include service-box-style($studentgroup-base-color);

    i {
      color: $studentgroup-base-color;
    }
  }
  .service-box.externalorganisation-box{
    @include service-box-style($externalorganisation-base-color);

    i {
      color: $externalorganisation-base-color;
    }
  }
}

.action-button {
  @include button;
}

.inline-icon {
  padding-right: 0.5em;
}
