$black: #000000;
$white: #FFFFFF;

// Current colour palette
$portal-orange: #FF8A00;
$portal-purple: #551DAE;
$portal-green:  #00E1CE;
$portal-blue:   #04CCE4;

$portal-primary: #333333;

// Note that the 'studentgroup' in '$studentgroup-base-color' is the downcased, whitespace-removed version of the actual Service Type name. 
$university-base-color:           $portal-orange;
$union-base-color:                $portal-purple;
$studentgroup-base-color:         $portal-blue;
$externalorganisation-base-color: $portal-green;

$university-light-color:           lighten($university-base-color, 30%);
$union-light-color:                lighten($union-base-color     , 30%);
$studentgroup-light-color:         lighten($studentgroup-base-color, 30%);   
$externalorganisation-light-color: lighten($externalorganisation-base-color, 30%);
