$black: #000000;
$white: #FFFFFF;

// Current colour palette
$portal-orange: #FF8A00;
$portal-purple: #551DAE;
$portal-blue:   #00E1CE;
$portal-green:  #04CCE4;

// Note that the 'studentgroup' in '$studentgroup-base-color' is the downcased, whitespace-removed version of the actual Service Type name. 
$university-base-color:           $portal-orange;
$union-base-color:                $portal-purple;
$studentgroup-base-color:         $portal-blue;
$externalorganisation-base-color: $portal-green;
