
ul#services-index-container {

  .service-box {
    @include service-box-base;
    .service-heading {
      font-size: 1.5em;
      .service-type-icon {
        @include service-type-icon;
      }
    }
    
    a {
      color: $portal-primary;
      text-decoration: none;
      line-height: inherit; 
    }

    a:hover, a:focus {
      color: lighten($portal-primary, 30%); 
    }

    a:visited {
        text-decoration: underline; 
    }

    a img {
        border: none; 
    }

    .service-type-name,
    .service-description {
      margin: 0.5em;
    }

    .tag {
      @include tag-button-base;
    }
  }

  .service-box.university-box{
    @include service-box-style($university-base-color);

    i {
      color: $university-light-color;
    }
  }
  .service-box.union-box{
    @include service-box-style($union-base-color);

    i {
      color: $union-light-color;
    }
  }
  .service-box.studentgroup-box{
    @include service-box-style($studentgroup-base-color);

    i {
      color: $studentgroup-light-color;
    }
  }
  .service-box.externalorganisation-box{
    @include service-box-style($externalorganisation-base-color);

    i {
      color: $externalorganisation-light-color;
    }
  }
}

article#service-show-container {
  .service-box{

    #service-link,
    #service-description,
    #service-type,
    #service-cite {
      margin: 1em;
      text-align: center;
    }
    
    #service-link {
      font-size: 2em;
    }

    #service-description {
      text-align: left;
    }

    .service-type-icon {
      @include service-type-icon;
    }
    .tag {
      @include tag-button-base;
    }


  }
  .service-box.university-box{
    // #service-link {
    //   a {
    //     color: $university-light-color;
    //   }
    // }
    i {
      color: $university-light-color;
    }
  }
  .service-box.union-box{
    i {
      color: $union-light-color;
    }
  }
  .service-box.studentgroup-box{
    i {
      color: $studentgroup-light-color;
    }
  }
  .service-box.externalorganisation-box{
    i {
      color: $externalorganisation-light-color;
    }
  }
  .action-button {
    @include action-button-base;
  }
}

.inline-icon {
  padding-right: 0.5em;
}
